<%- contentFor('body') %>
<div>
  <h1>
    Projeto Node.js DSO2
  </h1>
  <h3>
     bem vindo!
  </h3>
  <div class="links">
    <a
      href="/alunos"
      rel="noopener"
      class="btn btn-primary btn-lg"
      >Alunos</a>
    <a
      href="/disciplinas"
      rel="noopener"
      class="btn btn-primary btn-lg"
      >Disciplinas</a>
  </div>
</div>
